<nav>
    <ul>
      <li><a routerLink="/interpolacion" routerLinkActive="active" ariaCurrentWhenActive="page">Interpolacion</a></li>
      <li><a routerLink="/one-way-binding" routerLinkActive="active" ariaCurrentWhenActive="page">One Way Binding</a></li>
      <li><a routerLink="/eventos" routerLinkActive="active" ariaCurrentWhenActive="page">Eventos</a></li>
      <li><a routerLink="/two-way-binding" routerLinkActive="active" ariaCurrentWhenActive="page">Two Way Binding</a></li>
      <li><a routerLink="/servicios" routerLinkActive="active" ariaCurrentWhenActive="page">Servicios</a></li>
      <li><a routerLink="/directivas" routerLinkActive="active" ariaCurrentWhenActive="page">Directivas</a></li>
      <li><a routerLink="/elemento1" routerLinkActive="active" ariaCurrentWhenActive="page">Pasar 1 elemento con routing</a></li>
      <li><a routerLink="/variosElementos" routerLinkActive="active" ariaCurrentWhenActive="page">Pasar varios elementos con routing</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>